
@mixin CheckboxStyle() {
  font-family: 'BIZ UDGothic', sans-serif;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: flex-start;
}
.BathComponent {
  display: grid;
  align-items: center;
  justify-content: start;
  color: #969896;
  .BathComponent_bathLength{
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .BathComponent_shelf {
    @include CheckboxStyle()
  }
  .BathComponent_hatch {
    @include CheckboxStyle()
  }
  .finalButton {
    grid-row: auto;
  }
}