@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&family=Lobster&family=Playfair+Display:wght@500&family=Raleway:wght@500&display=swap");
.ellipsis {
  color: white;
  margin: 0 20px;
  font-size: 15px;
  display: flex;
  align-self: flex-end;
  padding: 10px;
  justify-self: flex-end;
  letter-spacing: 4px;
}

.calculatorChooseComponent {
  height: 100%;
  display: grid;
  grid-gap: 125px;
  margin: 5px 15px;
  grid-template-rows: minmax(50px, auto) minmax(0, auto);
}
.calculatorChooseComponent .calculatorChooseComponent_h {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  border-top: 1px solid black;
  width: 100%;
  padding-top: 25px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 0;
  font-size: 22px;
}
.calculatorChooseComponent .calculatorChooseComponent_beforeElement {
  display: grid;
  height: auto;
  justify-items: center;
  justify-content: center;
  padding: 10px;
  grid-template-columns: 1fr;
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 155px;
  border-radius: 8px;
  box-shadow: 0 0 5px 4px gray;
  z-index: 10;
}
.calculatorChooseComponent .calculatorChooseComponent_beforeElement .calculatorChooseComponent_beforeElement__item {
  width: 140px;
  display: grid;
  grid-template-columns: 115px 25px;
  justify-self: center;
  align-items: center;
  border-bottom: 2.5px solid #BFA67A;
  background-color: transparent;
  height: 38px;
  font-family: "Lobster", cursive;
  font-size: 14px;
  letter-spacing: 1px;
  z-index: 10;
  color: black;
}
.calculatorChooseComponent .arrowClick {
  position: absolute;
  z-index: 5;
  top: 14%;
  right: 2%;
}
.calculatorChooseComponent .calculatorChooseComponent_item {
  max-width: 1280px;
  display: grid;
  grid-row: 0.6666666667;
  height: 459px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border-radius: 15px;
  position: relative;
}
.calculatorChooseComponent .calculatorChooseComponent_item .calculatorChooseComponent_item__img {
  width: 100%;
  height: 459px;
}
.calculatorChooseComponent .calculatorChooseComponent_item .calculatorChooseComponent_item__description {
  position: absolute;
  z-index: 2;
  display: grid;
  padding: 50px;
  align-items: center;
  align-self: center;
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 700;
  cursor: pointer;
  font-size: 25px;
  justify-content: center;
  margin-left: -60px;
  background: #F7F7F7;
  right: 0;
  width: 54.7%;
  height: 380px;
}
.calculatorChooseComponent .calculatorChooseComponent_item .calculatorChooseComponent_item__description span {
  display: flex;
  justify-content: center;
  align-self: center;
}
.calculatorChooseComponent .calculatorChooseComponent_item .calculatorChooseComponent_item__description p {
  margin-top: -19px;
  font-size: 17px;
  font-weight: 500;
}
.calculatorChooseComponent .calculatorChooseComponent_item .calculatorChooseComponent_item__openedComponent {
  position: relative;
  z-index: 2;
  align-self: center;
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 700;
  padding-left: 60px;
  width: calc(100% + 60px);
  height: 380px;
  background: #F7F7F7;
  margin-left: -60px;
}

.CCCBigPicture {
  display: grid;
  grid-template-rows: 1fr 30px;
  align-items: center;
  grid-gap: 20px;
  z-index: 10;
  position: fixed;
  width: 50%;
  height: 70% !important;
  min-width: 1050px;
  background: #000 !important;
}
.CCCBigPicture img {
  width: 100% !important;
  height: 100% !important;
  max-height: 700px;
}

/*# sourceMappingURL=CCC.css.map */
