@media screen and (max-width: 480px) {
  .calculatorChooseComponent {
      min-width: auto !important;
    max-width: 480px !important;
    margin: 0 !important;
    padding-bottom: 60px !important;
    h2 {
      min-width: auto !important;
      max-width: 480px !important;
    }
    .calculatorChooseComponent_item {
      grid-template-columns: 1fr !important;
      height: auto !important;

      .calculatorChooseComponent_item__description {
        position: relative !important;
        margin: 0 !important;
        width: 100% !important;
      }
      .calculatorChooseComponent_item__openedComponent {
        margin: 0 auto !important;
        width: 100% !important;
        height: auto !important;
        &:first-child {
          padding: 40px 5px !important;
          align-items: center !important;
          justify-items: center !important;
        }
        .CCCNewButton-enter,.CCCNewButton-enter-active,.CCCNewButton-enter-done,
        .CCCNewButton-exit,.CCCNewButton-exit-active {
          margin-left: 0 !important;
        }
      }
    }
  }
}