@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&family=Lobster&family=Playfair+Display:wght@500&family=Raleway:wght@500&display=swap');


.calculatorBathMetres {
  width: 1280px;
  .calculator_roomSize {
    margin: 45px 12.5%;
    justify-self: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    .calculator_roomSize__metres {
      display: flex;
      grid-column: 1/4;
      justify-content: center;
      width: 100%;

      .calculator_roomSize__generalMetres{
        margin:0 35px;
        display: flex;
        align-items: center;
        span {
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 5px;
          border-radius: 5px;
          margin: 0 25px;
          background: yellow;
        }
      }
    }

    button {
      grid-row: 2;
      grid-column: 1/4;
      justify-self: center;
    }
  }

}
.calculator_tileSize {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  grid-gap: 20px;
  .calculator_tileSize__items {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px gray;
    cursor: pointer;
    overflow: hidden;

    p {
      font-size: 20px;
      font-family: 'Lobster', cursive;
      letter-spacing: 1px;
    }
  }
}
h2 {
  margin: 40px auto;
  font-size: 20px;
}

.calculator_additionalItem {
  margin: 0 45px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  .calculator_additionalItem__angle{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .calculator_additionalItem__hole {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .calculator_additionalItem__linearMetres {
    p{
      width: 80%;
      line-height: 20px;
      text-align: left;
    }
    display: grid;
    justify-items: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
  }
}
