@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&family=Lobster&family=Playfair+Display:wght@500&family=Raleway:wght@500&display=swap');
@import '../../../FontAndSize.scss';
@import'../../../ui_local/ui_local.scss';
$fonts1 : 'Plus Jakarta Display';

.ChooseStageComponent {
  display: grid;
  position: relative;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  max-width: 1600px;
  min-width: 1200px;
  padding: 50px 0;
  grid-gap: 30px;
  background: #E5DCCB;
  .ChooseStageComponent__head {
    display: flex;
    background: #847C6E;
    padding:25px;
    color: #E5DCCB;
    grid-column: 1/3;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-family: $fonts1;
  }
  .ChooseStageComponent_item {
    display: grid;
    position: relative;
    width: 100%;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 250px 100px;
    h2 {
      margin: 10px auto;
      font-size: 20px;
      background: #E5DCCB;
      border-radius: 15px;
      align-items: center;
      justify-items: center;
      z-index: 2;
      height: 40px;
      width: 95%;
    }
    p{
      display: grid;
      align-items: center;
      font-family: $fonts1;
      font-size: 19px;
      z-index: 2;
      grid-row: 3;
      border: 1px solid #847C6E;
    }
    img {
      position: absolute;
      width: 100%;
      height: 400px;
      z-index: 1;
    }
  }
}

.calculatorBathMetres {
  display: grid;
  margin: 0 auto;
  position: relative;
  justify-items: center;
  max-width: 1600px;
  min-width: 1200px;
  //background: #E5DCCB;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  img {
    align-self: center;
    padding-left: 50px;
    width: 100%;
    height: 95%;
  }
  .calculatorBathMetres-mainPic {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    color: $ui_colorText;
    grid-template-rows: 150px 100px min-content 1fr;
    justify-items: center;
    align-items: start;
    height: 100%;
    margin: 0 20px;
    grid-gap: 20px;
    align-content: start;
    .calculator-generalMetres {
      span {
        color: $ui_colorTextDark;
      }
    }
    .calculatorBathMetres-mainPic_inputField {
      width:400px;
      grid-row: 2;
      align-self:center;

    }
    .calculator_roomSize_group {
      display: grid;
      width: 100%;
      grid-gap: 20px;
      .calculator_roomSize_item {
        display: grid;
        grid-template-columns: 90px 1fr;
        grid-gap: 10px;
      }
    }
    .calculator_roomSize_chooseSize {
      padding-top: 20px;
      align-self: start;
      grid-column: 1;
      grid-row: 4;
      display: grid;
      grid-gap: 15px;
      font-size: 19px;
    }



  }
  .calculator-metres {
    display: grid;
    grid-row: 3;
    justify-content: center;
    width: 100%;
    font-size: 19px;
    font-weight: 700;
    .calculator-generalMetres {
      margin: 0 35px;
      display: flex;

      align-items: center;

      span {
        font-weight: 500;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 5px;
        border-radius: 5px;
        margin: 0 25px;
        background: #fff;
      }
    }
  }
  .calculator_roomSize {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-columns: 500px 1fr;
    padding: 0 30px 30px 30px;
    grid-gap: 35px;
    font-size: 18px;
    .calculator_roomSize__button {
      grid-row: 1;
    }
    .calculator_roomSize_group__buttonResult {
      display: grid;

      grid-template-columns: 1fr;
      grid-template-rows:60px;
    }
    .calculator_roomSize_item {
      display: grid;
      width: 100%;
      grid-template-columns: 70px 1fr;
      align-items: center;

      .calculator_roomSize_item__p {
        margin-top: -17px;
        justify-self: start !important;
      }
    }
    button {
      grid-row: 2;
      grid-column: 1/4;
      justify-self: center;
    }
  }
}



h2 {
  margin: 40px auto;
  font-size: 20px;
}

.calculatorBath-additionalWork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #E5DCCB;
  max-width: 1600px;
  margin: 0 auto;
  min-width: 1200px;
  border-top: 1px solid #847C6E;
  border-bottom: 1px solid #847C6E;
  padding: 30px;
  justify-items: center;

}
.calculatorBath-additionalWork_opened__button {
  background: #484747 !important;
  margin:5px 0 !important;
  color: #E5DCCB !important;
  height: 60px;
  max-width: 1600px;
  width: 100%;

}
.calculatorBath {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  //&::before {
  //  position: absolute;
  //  height: 100%;
  //  content: "";
  //  background: #000;
  //  z-index: 0;
  //  display: block;
  //  opacity: 0.6;
  //  top: 0; left: 0;
  //  bottom: 0; right: 0;
  //}
  &_imgStore {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    &__item {
      position: relative;
      z-index: -1;
      img {
        width: 100%;
      }
    }

  }
}