@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&family=Lobster&family=Playfair+Display:wght@500&family=Raleway:wght@500&display=swap");
.ChooseStageComponent {
  display: grid;
  position: relative;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  max-width: 1600px;
  min-width: 1200px;
  padding: 50px 0;
  grid-gap: 30px;
  background: #E5DCCB;
}
.ChooseStageComponent .ChooseStageComponent__head {
  display: flex;
  background: #847C6E;
  padding: 25px;
  color: #E5DCCB;
  grid-column: 1/3;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  font-family: "Plus Jakarta Display";
}
.ChooseStageComponent .ChooseStageComponent_item {
  display: grid;
  position: relative;
  width: 100%;
  grid-row: 2;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 250px 100px;
}
.ChooseStageComponent .ChooseStageComponent_item h2 {
  margin: 10px auto;
  font-size: 20px;
  background: #E5DCCB;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  z-index: 2;
  height: 40px;
  width: 95%;
}
.ChooseStageComponent .ChooseStageComponent_item p {
  display: grid;
  align-items: center;
  font-family: "Plus Jakarta Display";
  font-size: 19px;
  z-index: 2;
  grid-row: 3;
  border: 1px solid #847C6E;
}
.ChooseStageComponent .ChooseStageComponent_item img {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: 1;
}

.calculatorBathMetres {
  display: grid;
  margin: 0 auto;
  position: relative;
  justify-items: center;
  max-width: 1600px;
  min-width: 1200px;
  background: #E5DCCB;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.calculatorBathMetres img {
  align-self: center;
  padding-left: 50px;
  width: 100%;
  height: 95%;
}
.calculatorBathMetres .calculatorBathMetres-mainPic {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 100px min-content 1fr;
  justify-items: center;
  align-items: start;
  height: 100%;
  margin: 0 20px;
  grid-gap: 20px;
  align-content: start;
}
.calculatorBathMetres .calculatorBathMetres-mainPic .calculatorBathMetres-mainPic_inputField {
  width: 400px;
  grid-row: 2;
  align-self: center;
}
.calculatorBathMetres .calculatorBathMetres-mainPic .calculatorBathMetres-mainPic_inputField input[type=text] {
  font-size: 25px;
}
.calculatorBathMetres .calculatorBathMetres-mainPic .calculator_roomSize_group {
  display: grid;
  align-content: center;
  width: 100%;
  grid-gap: 10px;
}
.calculatorBathMetres .calculatorBathMetres-mainPic .calculator_roomSize_chooseSize {
  padding-top: 20px;
  align-self: start;
  grid-column: 1;
  grid-row: 4;
  display: grid;
  grid-gap: 15px;
  font-size: 19px;
}
.calculatorBathMetres .calculatorBathMetres-mainPic h2 {
  padding-top: 50px;
  font-size: 35px;
  margin-top: 0;
  max-width: 500px;
  font-weight: 700;
}
.calculatorBathMetres .calculator-metres {
  display: grid;
  grid-row: 3;
  justify-content: center;
  width: 100%;
  font-size: 19px;
  font-weight: 700;
}
.calculatorBathMetres .calculator-metres .calculator-generalMetres {
  margin: 0 35px;
  display: flex;
  align-items: center;
}
.calculatorBathMetres .calculator-metres .calculator-generalMetres span {
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 5px;
  margin: 0 25px;
  background: #fff;
}
.calculatorBathMetres .calculator_roomSize {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px 30px 30px;
  grid-gap: 15px;
}
.calculatorBathMetres .calculator_roomSize .calculator_roomSize__button {
  grid-row: 1;
}
.calculatorBathMetres .calculator_roomSize .calculator_roomSize_group__buttonResult {
  display: grid;
  padding-bottom: 20px;
  align-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 60px;
}
.calculatorBathMetres .calculator_roomSize .calculator_roomSize_item {
  display: grid;
  width: 100%;
  grid-template-columns: 70px 1fr;
  align-items: center;
}
.calculatorBathMetres .calculator_roomSize .calculator_roomSize_item .calculator_roomSize_item__p {
  margin-top: -17px;
  justify-self: start !important;
}
.calculatorBathMetres .calculator_roomSize button {
  grid-row: 2;
  grid-column: 1/4;
  justify-self: center;
}

.calculator_tileSize {
  position: relative;
  display: grid;
  margin: 0 auto;
  padding-bottom: 35px;
  max-width: 1600px;
  min-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 300px 300px 300px 300px 300px 200px;
  grid-gap: 25px;
  background: #E5DCCB;
}
.calculator_tileSize img {
  scale: 1.18;
  min-width: 450px;
  min-height: 625px;
}
.calculator_tileSize h2 {
  grid-column: span 3;
  grid-row: 1;
}
.calculator_tileSize .calculator_tileSize__items {
  margin: 0 35px;
  display: grid;
  grid-gap: 25px;
  grid-template-rows: 1fr 1fr;
  position: relative;
}
.calculator_tileSize .calculator_tileSize__items .calculator_tileSize__fillSeamBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 2;
  justify-items: center;
  align-self: start;
  grid-row: 2;
}
.calculator_tileSize .calculator_tileSize__items .calculator_tileSize__fillSeamBlock .MUIButtonBlock {
  display: grid;
  grid-column: 1/3;
  width: 100% !important;
  grid-template-columns: 1fr 1fr;
}
.calculator_tileSize .calculator_tileSize__items .calculator_tileSize__fillSeamBlock h3 {
  display: grid;
  align-self: end;
  align-items: center;
  height: 35px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  grid-column: 1/3;
  width: 100%;
  margin-bottom: -2px;
  background: #1976d2;
  color: white;
}
.calculator_tileSize .calculator_tileSize__label {
  background: #E5DCCB;
  width: 50%;
  min-height: 30px;
  padding: 5px;
  display: flex;
  align-self: end;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.calculator_tileSize .calculator_tileSize__img {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 2;
}
.calculator_tileSize .red {
  box-shadow: 0 0 5px 3px rgba(28, 87, 28, 0.8) !important;
}
.calculator_tileSize .calculator_tileSize__items2 {
  grid-column: 3;
  grid-row: 2/span 2;
}
.calculator_tileSize .calculator_tileSize__items3 {
  grid-column: 1/span 2;
}
.calculator_tileSize .calculator_tileSize__items4 {
  grid-row: 4/span 2;
}
.calculator_tileSize .calculator_tileSize__items8 {
  grid-column: 2/span 2;
  grid-row: 4/span 2;
}
.calculator_tileSize .calculator_tileSize__items5 {
  grid-column: 3;
}
.calculator_tileSize .calculator_tileSize__items7 {
  grid-column: 1/span 2;
  grid-row: 6/span 2;
}
.calculator_tileSize .calculator_tileSize__items {
  display: grid;
  position: relative;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  box-shadow: 0 0 5px 2px gray;
  cursor: pointer;
  overflow: hidden;
}
.calculator_tileSize .calculator_tileSize__items p {
  font-size: 20px;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  z-index: 3;
}

h2 {
  margin: 40px auto;
  font-size: 20px;
}

.calculatorBath-additionalWork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #E5DCCB;
  max-width: 1600px;
  margin: 0 auto;
  min-width: 1200px;
  border-top: 1px solid #847C6E;
  border-bottom: 1px solid #847C6E;
  padding: 30px;
  justify-items: center;
}

.calculatorBath-additionalWork_opened__button {
  background: #484747 !important;
  margin: 5px 0 !important;
  color: #E5DCCB !important;
  height: 60px;
  max-width: 1600px;
  width: 100%;
}

/*# sourceMappingURL=CalculatorBathStyle.css.map */
