.ButtonModalList {
  width: calc(100% - 25px);
  font-weight: 500;
  height: 50px !important;
  font-size: 15px;
  font-family: "Playfair Display", serif;
  align-items: center;
  cursor: pointer;
  justify-items: center;
  justify-content: center;
  display: grid;
  background: rgba(68, 68, 68, 0.95);
  letter-spacing: 2.5px;
  color: #E5DCCB;
  align-self: end;
  position: absolute;
  .ButtonModalList_icon {
    display: grid;
    grid-template-columns: 1fr minmax(0,1fr);
    grid-gap: 10px;
  }
}
.ModalContainer {
  margin: 15px auto;
  z-index: 10;
  max-width: 1280px;
  min-width: 650px;
  max-height: 90%;
  background: #847C6E;
  color: #E5DCCB;
  overflow: scroll;
}
.ModalTable {
  margin: auto;
  z-index: 10;
  max-width: 1280px;
  min-width: 650px;
  background: #847C6E;
  color: #E5DCCB;

  .ModalTable_Row__items {
    color: #E5DCCB;
  }
}
.ModalDeleteIcon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  color:#E5DCCB !important;
}