.WorkList {
  max-height: 500px;
  display: grid;
  margin-top: 12px;
  justify-items: center;
  justify-content: center;
  width: 100%;
  grid-gap: 5px;
  transition: height 1s ease-in-out;
  &::-webkit-scrollbar-thumb {

  }

  .WorkList_item {
    width: 100%;
    display: grid;
    padding: 5px;
    background: #847C6E;
    color: #E5DCCB;
    height: 45px;
    align-items: center;
    grid-template-columns: 115px 25px;
    font-size: 14px;
    letter-spacing: 1px;
    z-index: 8;
    .deleteIcon {
      color: #E5DCCB;
    }
  }
}