@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway:wght@500&display=swap');


$fontBig : ('Playfair Display', serif);
$fontSm : ('Raleway', sans-serif);

$fontSizeH : ('28px');
$fontSizeBig : ('19px');
$fontSizeSm : ('17px');